<!doctype html>
<html>
<head>
  <title>OSM US Route Relation Ranger</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <link rel=stylesheet href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
  <script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
  <style type="text/css">
    body {font-family:sans-serif}
    select, option {font: 1em sans-serif;}
    </style>
</head>
<body>
  <h1>OSM US Route Relation Ranger</h1>
  <p><small>Use this to inspect numbered road route relations for US states. Head to <a href="https://github.com/osmlab/routerelationranger">Github</a> for issues and suggestions. Hacked together by <a href="https://mvexel.github.io">Martijn van Exel</a></small>
  <p>Pick a route type: 
  <select id="routetype">
    <option id="XX" selected>---SELECT ROUTE TYPE---</option>
    <option id="state">State routes (car)</option>
    <option id="interstate">Interstates</option>
    <option id="bicycle">Bicycle</option>
  </select>
  <p>Pick a state:
  <select id="stateselect">
  </select>
  <span id="waiting" style="color:blue;display:none"> getting from overpass...</span>
  <hr>
  <table id="relationtable">
  </table>
</body>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  var rTable;
  // initialize datatables moment-based date parsing
  $.fn.dataTable.moment('YYYY-MM-DD HH:mmA');

  // retrieve route relations from overpass
  function retrieveRouteRelations() {
    var route_type = $('#routetype option:selected')[0].id;
    var state_code = $('#stateselect option:selected')[0].id;
    var route_url
    switch(route_type) {
      case 'interstate':
        route_url = $SCRIPT_ROOT + '/routes/interstate';
        break;
      case 'state':
        route_url = $SCRIPT_ROOT + '/routes/state/' + state_code;
        break;
      case 'bicycle':
        route_url = $SCRIPT_ROOT + '/routes/bicycle/' + state_code;
        break;
    }
    // show busy thing
    $("#waiting").text('getting from overpass...').css({'color':'blue'}).fadeIn()
    // get relations from overpass
    $.getJSON(route_url, function(data) {
      // replace data in table
      rTable.rows.add(data).draw();
    }).done(function() {
      // hide busy thing
      $("#waiting").fadeOut()
    }).fail(function() {
      $("#waiting").text('uh oh').css({'color':'red'});
    });
  }

  $(document).ready(function(){
    // init relations datatables
    rTable = $("#relationtable").DataTable({
      "pageLength": 50,
      "order": [[1, 'asc']],
      "columnDefs": [{
        "targets": -1,
        "data": "id",
        "render": renderActions
      }],
      "columns": [
        {
          "title": "OSM id",
          "data": "id",
          "render": function(data, type, full, meta) {
            return '<a href="https://openstreetmap.org/relation/' + data + '">' + data + '</a>';
          },
          "searchable": false
        },
        {
          "title": "Route #",
          "data": "ref",
          "type": "num"
        },
        {
          "title": "Name",
          "data": "name"
        },
        {
          "title": "Last edited",
          "data": "timestamp",
          "searchable": false
        },
        {
          "title": "OSM user",
          "data": "user",
          "searchable": false
        },
        {
          "title": "Version",
          "data": "version",
          "searchable": false
        },
        {
          "title": "Actions",
        //   "data": "actions",
          "searchable": false,
          "orderable": false,
          "render": renderActions
        }
      ]});

    // fill state dropdown...
    $.getJSON($SCRIPT_ROOT + '/states', function(data) {
      var items = [];
      items.push("<option id='XX'>---SELECT A STATE---</option>");

      // for each element found in json...
      $.each(data, function(i,v) {
        // add an option element to the array
        items.push("<option id='" + v[0] + "'>" + v[1] + "</option>");
      });
      // then append the array of options to the select thing
      $("#stateselect").append(items);
    });
    // on select different state, spring into action
    $('#stateselect').change(onStateSelect);
    $('#routetype').change(onRouteTypeSelect);
  });


  function onStateSelect() {
    // get the selected state's id
    var state_code = $('#stateselect option:selected')[0].id;
    var route_type = $('#routetype option:selected')[0].id;
    if(state_code==='XX') {return};
    // clear the table
    rTable.clear();
    // call retrieve function with this state id
    retrieveRouteRelations();
  };

  function onRouteTypeSelect() {
    var route_type = $('#routetype option:selected')[0].id;
    if (route_type === 'interstate') {
      $('#stateselect').prop('disabled', true);
      // in this case we don't need to wait for a state selection
      retrieveRouteRelations();
    } else {
      $('#stateselect').prop('disabled', false);
    }
  }
  
  function loadInJosm(id) {
    $.ajax("http://127.0.0.1:8111/load_object?objects=r"+id+"&relation_members=true").fail(
      function(){$("#waiting").text('JOSM not open').fadeIn().delay(1000).fadeOut()}).done(
      function() {$("#waiting").text('loading in JOSM').fadeIn().delay(1000).fadeOut();});
  }

  function renderActions(data, type, full, meta) {
    var osmid = full['id'];
    var route_type = $('#routetype option:selected')[0].id;
    var state_code = $('#stateselect option:selected')[0].id;

    var actions = '<a target="_new" href="http://ra.osmsurround.org/analyzeRelation?relationId=' + osmid + '&_noCache=on">analyze</a> | <a target="_new" href="javascript:loadInJosm(' + osmid + ');">josm</a>';

    if (route_type === "interstate") {
      actions += ' | <a target="_new" href="https://en.wikipedia.org/wiki/Interstate_' + full['ref'] + '">wikipedia</a>'
    };
    if (route_type === "state") {
      actions += ' | <a target="_new" href="https://en.wikipedia.org/wiki/' + state_code + '_State_Route_' + full['ref'] + '">wikipedia</a>';
    };
    return actions;
  }
</script>
</html>
