<!doctype html>
<html>
<head>
  <title>OSM US Route Relation Ranger</title>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"
    crossorigin="anonymous"></script>
  <link
    rel=stylesheet
    href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
</head>
<body>
  <h1>OSM US Route Relation Ranger</h1>
  <p>Pick a state:
  <select id="stateselect">
  </select>
  <span id="waiting" style="color:blue;display:none"> getting from overpass...</span>
  <hr>
  <table id="relationtable">
    <thead><th>bla</th><th>bla</th></thead>
    <tbody>
    </tbody>
  </table>
</body>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  // retrieve state relations from overpass
  function retrieve_state_relations(state_code) {
    // show busy thing
    $("#waiting").text('getting from overpass...').css({'color':'blue'}).show()
    // get relations from overpass
    $.getJSON($SCRIPT_ROOT + '/_routes/' + state_code, function(data) {
      // do something useful..
      console.log(data);
    }).done(function() {
      // hide busy thing
      $("#waiting").hide()
    }).fail(function() {
      $("#waiting").text('uh oh').css({'color':'red'});
    });
  }

  // on load, fill state dropdown...
  $(document).ready(function(){
    $.getJSON($SCRIPT_ROOT + '/_states', function(data) {
      var items = [];
      // for each element found in json...
      $.each( data, function( key, val ) {
        // add an option element to the array
        items.push( "<option id='" + val + "'>" + key + "</option>" );
      });
      // then append the array of options to the select thing
      $("#stateselect").append(items);
    });
    // ...and initiate datatable
    $('#relationtable').DataTable();
  });

  // on select different state, spring into action
  $('#stateselect').change(function() {
    // get the selected state's id
    var state_code = $('#stateselect').find(":selected")[0].id;
    // call retrieve function with this state id
    retrieve_state_relations(state_code);
  });
</script>
</html>
